@import "bootstrap";
.bg-light {
    background-color: bisque!important;
}
/*form search*/
.search-discover__input-location
{
    flex: 1;
    height: auto;
    min-width: 250px;
    padding-left: 10px;
    color: #555;
    background: #FFF;
    vertical-align: middle;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 10px;

    margin-right: 10px;
}
.search-discover.js-form-search-location.search-discover--hero
{
  margin-top: 2px;
  margin-right: 30px;
}
.search-discover__inner
{
    display: flex;
    margin: 0 auto;
    width: 90%;
    border-radius: 6px;
    white-space: nowrap;
}
.search-discover--hero .search-discover__inner
{
    max-width: 600px;
}
.search-discover__submit {
    padding: 7px 50px;
    margin-right: 30px;
}
button.btn.btn--success.search-discover__submit
{
  background: red;
}
#form_search.col-lg-6.col-sm-3.col-md-4 {
    margin-top: 0px;
    height: 50px;
}
/*begin home*/
.jumbotron
{
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
     background-image: url('/france.jpg');
       padding: 0px;
}

.banner
{
    color: white;
    letter-spacing: 0.2rem;
    padding-top: 10px;

}
h1.proposition
{
    margin-top: 60px;
    font-size: 40px !important;
    line-height: 40px !important;
    color: #FFF;
}
h2.baseline
{
    color: #FFF!important;
}
.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50;
    background-color: rgba( 16, 15, 15, 0.35);
    z-index: 1;
}
/*end home */
/* footer */

h1, h2, h3, h4, h5, h6 { color: #161f23; margin: 0px 0px 15px 0px; font-family: 'Source Sans Pro', sans-serif; font-weight: 700; }
h1 { font-size: 42px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 1.7; }
p:last-child { margin: 0px; }
ul, ol { }
a { text-decoration: none; color: #6d767a; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #235f83; }
hr { border-top: 1px solid #e4e7e9; margin-bottom: 50px; margin-top: 50px; }

.btn { font-family: 'Source Sans Pro', sans-serif; font-size: 16px; text-transform: capitalize; font-weight: 700; padding: 12px 24px; letter-spacing: 0px; border-radius: 3px; line-height: 2; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; word-wrap: break-word; white-space: normal !important; }

.btn-default { background-color: #ff9f2a; color: #fff; border: 1px solid #ff9f2a; }
.btn-default:hover { background-color: #ec8a13; color: #fff; border: 1px solid #ec8a13; }
.btn-default.focus, .btn-default:focus { background-color: #ec8a13; color: #fff; border: 1px solid #ec8a13; box-shadow: 0 0 0 0.1rem rgb(236, 138, 19); }


.form-control { border-radius: 0px; font-size: 14px; font-weight: 700; width: 100%; height: 64px; padding: 16px 20px; line-height: 1.42857143; border: 1px solid #d6dadc; background-color: #fff; text-transform: capitalize; letter-spacing: 0px; margin-bottom: 30px; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); -webkit-appearance: none; color: #011c28; }
.form-control:focus { color: #011c28; outline: 0; box-shadow: 0 0 0 0.0rem rgb(255, 255, 255); border-color: #c9cdd0; background-color: #f0f4f6; }


.footer
{ background-color: #08202e;
   padding-top: 0px;
   color: #636e74;
   font-weight: 400;
   font-size: 17px;
  }
.footer-line
{
  border-color: #152e3d;
}
.footer-widget { padding-bottom: 50px; }
.footer-title { font-size: 24px; font-weight: 600; margin-bottom: 44px; color: #fff; }
.footer-widget ul li a { text-transform: capitalize; font-size: 17px; color: #636e74; display: block; font-weight: 600; }
.footer-widget ul li a:hover { color: #fff; }
.newsletter-form { padding-top: 15px; }
.newsletter-form .form-control { background-color: #1e2e38; border-color: #1e2e38; }
.newsletter-form .form-control:focus { color: #fff; }
.newsletter-form input::-webkit-input-placeholder { color: #fff !important; }
.newsletter-form input:focus::-webkit-input-placeholder { color: #fff !important; }


.tiny-footer { font-size: 14px; padding: 14px 0px; font-weight: 600; background-color: transparent; border-top: 1px solid #152e3d; color: #888d90; line-height: 1; }

/* footer */

/*page about */
h1.title
{
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 2rem;

}
h3.about
{

}
